// Font
$main: 'Muller', serif;
$secondary: 'PT Serif', serif;

// Font color
$cl-main: #000000;
$cl-light: #4f4f4f;
$cl-dark: #333333;
$cl-button: #ffffff;
$cl-accent: #2f80ed;

// Placeholder font color
$placeholder-cl: #bdbdbd;

// Background color
$bg-accent: #ffcf10;
$bg-footer: #f2f2f2;
$bg-button: #2f80ed;
$bg-button-accent: #ffffff;

// Border color
$border-cl-main: #2f80ed;
$border-cl-secondary: #ffcf10;
$border-cl-light: #e0e0e0;
$border-cl-light: #828282;

// SVG fill
$svg-fill-main: #2f80ed;
