// Font
$font-main: 'Muller', serif;
$font-secondary: 'PT Serif', serif;

// Font color
$font-cl-main: #000000;
$font-cl-light: #4f4f4f;
$font-cl-dark: #333333;
$font-cl-button: #ffffff;
$font-cl-accent: #2f80ed;

// Placeholder font color
$placeholder-cl: #bdbdbd;

// Background color
$bg-accent: #ffcf10;
$bg-footer: #f2f2f2;
$bg-button: #2f80ed;
$bg-button-accent: #ffffff;

// Border color
$border-cl-main: #2f80ed;
$border-cl-secondary: #ffcf10;

// SVG fill
$svg-fill-main: #2f80ed;
