%link {
  text-decoration: none;
}

%list {
  list-style-type: none;
}

%button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $cl-button;
  text-transform: uppercase;
  background-color: $bg-button;
  border-color: transparent;

  border-radius: 8px;
  box-shadow: 4px 12px 40px rgba(47, 128, 237, 0.35);
  cursor: pointer;
}

%title {
  margin-bottom: 12px;
  
  font-size: 28px;
  line-height: 1;
  
  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  
  @media screen and (min-width: 1280px) {
    margin-bottom: 8px;
  }
}

%subtitle {
    font-size: 16px;
    line-height: 1.4;
    color: $cl-light;
    
    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
}


%label {
  margin-bottom: 6px;

  font-size: 14px;
  line-height: 1.4;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

%input {
  display: flex;
  align-items: center;
  padding-left: 24px;
}