<section class="features section">
  <div class="features__container container">
    <h2 class="features__title title">
      В Domeo лучшие условия для работы в сфере комплектации интерьера
    </h2>
    <p class="features__subtitle">
      компенсируем высокие требования, лучшими условиями
    </p>
    <ul class="features__list list">
      <li class="features__item">
        <span class="features__number">01</span>
        <p class="features__description">
          Возможность работать попроектно в удобном для Вас графике
        </p>
      </li>
      <li class="features__item">
        <span class="features__number">02</span>
        <p class="features__description">
          Нет потолка доходов. Мы хотим, чтобы вы достойно зарабатывали
        </p>
      </li>
      <li class="features__item">
        <span class="features__number">03</span>
        <p class="features__description">
          «Белая» оплата — возможность брать кредиты или ипотеку
        </p>
      </li>
      <li class="features__item">
        <span class="features__number">04</span>
        <p class="features__description">
          Интересные и смелые проекты для реализации творческого потенциал
        </p>
      </li>
      <li class="features__item">
        <span class="features__number">05</span>
        <p class="features__description">
          Карьерный рост до: руководителя группы или директора департамента
        </p>
      </li>
      <li class="features__item">
        <span class="features__number">06</span>
        <p class="features__description">
          Прямой контакт с руководством компании для решения любых вопросов
        </p>
      </li>
      <li class="features__item">
        <span class="features__number">07</span>
        <p class="features__description">
          Особая корпоративная среда: йога по утрам, пробежки, сумасшедшие
          корпоративы
        </p>
      </li>
      <li class="features__item">
        <span class="features__number">08</span>
        <p class="features__description">
          Дружный молодой коллектив. Амбициозный проект
        </p>
      </li>
    </ul>
    <div class="features__message">
      <svg class="features__icon" width="40" height="40">
        <use href="./images/icons.svg#icon-info"></use>
      </svg>
      <p class="features__text">
        Мы понимаем, что хорошие исполнители хотят получать достойную оплату и
        уважительное отношение к себе и своему труду, по этому мы делаем
        огромные усилия для комфортных условий работы в нашей компании
      </p>
    </div>
  </div>
</section>
