<header class="header">
  <div class="container header__container">
    <img class="logo" src="./images/logo.svg" alt="logo" />
    <p class="header__text">
      Прямые работодатели <br />
      для подборщиков мебели
    </p>

    <a class="header__tel" href="tel:+380671234567">+38 (067) 123-45-67</a>
    <button class="header__button-mob" type="button">
      <svg width="20" height="20">
        <use href="./images/icons.svg#icon-little-phone"></use>
      </svg>
    </button>
    <button class="header__button-desk" type="button">
      Заказать обратный звонок
    </button>
  </div>
</header>
