<section class="program">
  <div class="program__container container">
    <h2 class="program__title title">
      Устройтесь на работу вашей мечты за 4 шага
    </h2>
    <p class="program__subtitle subtitle">
      самое главное начать, ведь места ограничены
    </p>
    <ul class="program__list">
      <li class="program__item">
        <span class="program__number">01</span>
        <p class="program__text">Отправьте заявку <br />на сайте</p>
        <svg class="program__icon" width="30" height="30">
          <use href="././images/icons.svg#icon-letter"></use>
        </svg>
      </li>
      <li class="program__item">
        <span class="program__number">02</span>
        <p class="program__text">Пройдите собеседование <br />по телефону</p>
        <svg class="program__icon" width="30" height="30">
          <use href="././images/icons.svg#icon-phone"></use>
        </svg>
      </li>
      <li class="program__item">
        <span class="program__number">03</span>
        <p class="program__text">Пройдите собеседование <br />в офисе</p>
        <svg class="program__icon" width="30" height="30">
          <use href="././images/icons.svg#icon-chair"></use>
        </svg>
      </li>
      <li class="program__item">
        <span class="program__number">04</span>
        <p class="program__text">Приступите к работе <br />в Domeo</p>
        <svg class="program__icon" width="30" height="30">
          <use href="././images/icons.svg#icon-suitcase"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
