.bid__container {
    text-align: center;
}

.bid__subtitle {
    @extend %subtitle;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 46px;
    }
}

.bid__form {
    width: 100%;
    @media screen and (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media screen and (min-width: 768px) {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.form__field {
    display: flex;
    flex-direction: column;
    text-align: start;

    &:first-child {
        @media screen and (max-width: 767px) {
            margin-bottom: 14px;
        }
    }
}

.bid__label {
    @extend %label;
}

.bid__input {
    @extend %input;

    height: 72px;

    border: 1px solid $border-cl-dark;
    border-radius: 8px;
    outline: none;
    
    &:focus,
    &:active,
    &:hover {
        border: 1px solid $border-cl-main;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1280px) {
        width: 384px;
        margin-bottom: 0;
    }
}


.bid__button {
    @extend %button;
    height: 72px;
    width: 100%;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: 0.03em;

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1280px) {
        width: 384px;
    }

    @media screen and (max-width: 1279px) {
        margin: 0 auto;
        margin-top: 24px;
    }
}

.bid__info {
    margin-top: 12px;
    font-size: 13px;
    line-height: 1.4;
    @media screen and (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px
    }
    @media screen and (min-width: 768px) {
        width: 354px;
        margin: 0 auto;
        margin-top: 12px;
    }
    @media screen and (min-width: 1280px) {
        width: 384px;
        margin-right: 0;
    }
    
}

.bid__accent {
    color: $cl-accent;
}