.hero {
}

.hero__title {
  font-size: 28px;
  line-height: 1;
  text-align: center;
}

.hero__subtitle {
  margin-top: 12px;

  line-height: 1.38;
  text-align: center;

  color: $cl-light;
}

.hero__img {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}

.hero__list {
  @extend %list;
  margin-top: 64px;
}

.hero__item {
  position: relative;

  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  &:not(:first-child) {
    margin-top: 64px;
  }
}

.hero__icon {
  position: absolute;

  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);

  fill: $svg-fill-main;
}

.hero__offer {
  margin-top: 32px;

  font-size: 14px;
  line-height: 1.43;
  text-align: center;

  color: $cl-light;
}

.hero__button {
  @extend %button;

  padding: 13px 24px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  line-height: 1.38;

  letter-spacing: 0.03em;
  text-transform: uppercase;
}
